<% content_for :title, "Editing movie" %>

<h1>Editing Movie</h1>
<div class="edit-page"> 
  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Show this movie", @movie, class: "show-button" %>
    <%= link_to "Back to movies", movies_path, class: "back-button" %>
  </div>
</div>