<% content_for :title, "New movie" %>

<h1>New movie</h1>
<div class="edit-page">
  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Back to movies", movies_path, class: "back-button" %>
  </div>
</div>